/* color variables */
:root {
    --white: rgba(255, 255, 255, 1);
    --header-bg: rgba(180, 208, 231, 1);
    --footer-bg: rgba(0, 0, 0, 1);
    --button-bg: rgba(0, 97, 255, 1);
    --designit-bg: rgba(162, 211, 155, 1);
    --asu-bg: rgba(97, 8, 43, 1);
    --uf-bg: rgba(0, 147, 206, 1);
    --topps-bg: rgba(255, 28, 28, 1);
    --wbr-bg: rgba(213, 0, 31, 1);
    --hearst-bg: rgba(180, 208, 231, 1);
    --lonely-bg: rgba(13, 36, 129, 1);
    --ccoutdoor-bg: rgba(255, 216, 48, 1);
}

/* UTILITIES */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body {
    font-family: 'Open Sans', Arial, sans-serif;
}

img {
    width: 100%;
}

.container-70 {
    width: 70%;
    margin: 0 auto;
}

.container-60 {
    width: 60%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.jc-between {
    justify-content: space-between;
}

.jc-start {
    align-items: start;
}

.ai-stretch {
    align-items: stretch;
}

.ai-center {
    align-items: center;
}

.ai-start {
    align-items: start;
}

.wrap {
    flex-wrap: wrap;
}

.btn {
    background-color: var(--button-bg);
    color: var(--white);
    padding: 0.5rem 0.7rem;
    text-decoration: none;
}

/* HEADER */

/* header nav section */
nav {
    background-color: var(--white);
}

nav ul {
    padding: 1.5rem 1rem ;
}

nav a {
    text-decoration: none;
    color: var(--footer-bg);
}

nav ul li {
    list-style-type: none;
    margin: 0 0.8rem;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li:last-child {
    margin-right: 0;
}

/* header main section */
.header-main-section {
    background-color: var(--header-bg);
}

.col-smaller {
    width: calc(100% / 3);
}

.col-bigger {
    width: calc(100% / 3 * 2);
}

/* MAIN */

    main {
        background-color: var(--white);
    }

    .card {
        width: calc((100% - 4rem) / 3);
    }

    .card-plan:first-child {
        border-bottom: 1px solid lig;
    }

    .border-grey {
        border: 1px solid lightgrey;
    }

    .bottom-grey {
        border-bottom: 1px solid lightgrey;
        text-align: center;
    }

    .btn-light {
        background-color: var(--white);
        color: lightgrey;
        padding: 0.5rem 0.7rem;
        text-decoration: none;
    }

    .partner-text {
        padding: 3rem 2rem;
    }

    .partner-p {
        color: lightgrey;
        padding: 2rem 0;
    }

    .square-big {
        width: calc(100% / 3);
        aspect-ratio: 1 / 1;
    }

    .square-small {
        width: calc(100% / 2);
        aspect-ratio: 1 / 1;
    }

    #designit {
        background-color: var(--designit-bg);
    }

    #asu {
        background-color: var(--asu-bg);
    }

    #uf {
        background-color: var(--uf-bg);
    }

    #topps {
        background-color: var(--topps-bg);
    }

    #wbr {
        background-color: var(--wbr-bg);
    }

    #hearst {
        background-color: var(--hearst-bg);
    }

    #lonely {
        background-color: var(--lonely-bg);
    }

    #ccoutdoor {
        background-color: var(--ccoutdoor-bg);
    }

/* FOOTER */

