/* color variables */
:root {
    --white: rgba(255, 255, 255, 1);
    --header-bg: rgba(180, 208, 231, 1);
    --footer-bg: rgba(0, 0, 0, 1);
    --button-bg: rgba(0, 97, 255, 1);
    --designit-bg: rgba(162, 211, 155, 1);
    --designit-grey: rgba(245, 245, 245, 1);
    --asu-bg: rgba(97, 8, 43, 1);
    --uf-bg: rgba(0, 147, 206, 1);
    --topps-bg: rgba(255, 28, 28, 1);
    --wbr-bg: rgba(213, 0, 31, 1);
    --lonely-bg: rgba(13, 36, 129, 1);
    --ccoutdoor-bg: rgba(255, 216, 48, 1);
    --baby-blue: rgba(180, 208, 231, 1);
    --light-gray: #999999;
}

/* UTILITIES */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body {
    font-family: 'Open Sans', Arial, sans-serif;
}

img {
    width: 100%;
}

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.jc-around {
    justify-content: space-around;
}

.jc-start {
    align-items: start;
}

.ai-stretch {
    align-items: stretch;
}

.ai-center {
    align-items: center;
}

.ai-start {
    align-items: start;
}

.wrap {
    flex-wrap: wrap;
}

/* blue btn elements */
.btn {
    background-color: var(--button-bg);
    color: var(--white);
    padding: 0.5rem 0.7rem;
    text-decoration: none;
}

/* change colors to .btn elements on :hover */
.btn:hover {
    background-color: var(--baby-blue);
    color: var(--button-bg);
    border: 1px solid var(--button-bg);
}

/* gray btn elements */
.btn-light {
    background-color: var(--white);
    color: var(--light-gray);
    padding: 0.5rem 0.7rem;
    text-decoration: none;
}

/* change color to gray btn elements on :hover */
.btn-light:hover {
    background-color: var(--light-gray);
    color: var(--white);
}

/* HEADER */

/* header nav section */
nav {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0 1rem;
}

nav a {
    text-decoration: none;
    color: var(--footer-bg);
}

nav ul li {
    height: 5rem;
    line-height: 5rem;
    list-style-type: none;
    margin: 0 0.8rem;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li:last-child {
    margin-right: 0;
}

header nav ul li:not(.no-underline):hover{
    border-bottom: 1px solid var(--footer-bg);
}

.logo {
    width: 7.5rem;
    margin-right: 1.5rem;
}

/* header's main section */

.header-bg {
    background-color: var(--header-bg);
    margin-top: 5rem;
    margin-bottom: 7rem;
}

h1{
    font-size: 56px;
    font-weight: 800;
}

header > .header-bg > .container-big {
    position: relative;
    bottom: -3.5rem;
}

.hero {
    padding-top: 2rem;
}

.col-smaller {
    width: calc(100% / 3);
}

.col-bigger {
    width: calc(100% / 3 * 2);
}

.hero > .col-smaller > a {
    margin: 1.5rem 0;
}

.hero > .col-smaller > a > i {
    color: var(--footer-bg);
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 6rem;
}

/* MAIN */

    main {
        background-color: var(--white);
    }

    /* find your plan section */

    form {
        padding: 3rem 0 2.5rem 0;
    }

    .card {
        width: calc((100% - 4rem) / 3);
        padding-bottom: 2.5rem;
    }

    .card .btn,
    #enterprise .btn,
    .btn-light {
        display: inline-block;
    }

    .card .bottom-grey i {
        padding: 0.7rem 0;
    }

    #find-plan .card ul li {
        list-style-type: none;
        padding: 0.6rem 1rem;
    }

    /* change color to "check" icons (v) */
    .card ul li i.fa-check,
    .card ul li a:not(.btn) {
        color: var(--button-bg);
    }

    /* add margin top to h3 elements in #find-plan */
    #find-plan h3 {
        margin-top: 1rem;
    }

    #find-plan .card h3,
    #find-plan .card h5,
    .cost {
        padding: 0.6rem 1rem;
    }
    
    /* padding right to icons in #find-plan .card elements */
    #find-plan .card ul li i {
        padding-right: 0.4rem;
    }
    /* 4th card or #enterprise element in #find-plan */
    #enterprise {
        margin-top: 3rem;
    }

    #enterprise h3 {
        padding: 2rem 0 1rem 2rem;
    }

    #enterprise h5 {
        padding: 0 0 2rem 2rem;
    }

    #enterprise p {
        padding: 0 2rem 2rem 2rem;
    }

    #enterprise .btn {
        margin: 2rem 0 0 4rem;
    }

    .border-grey {
        border: 1px solid lightgrey;
    }

    .border-grey .bottom-grey i {
        padding: 0.7rem 0;
    }

    .bottom-grey {
        border-bottom: 1px solid lightgrey;
        text-align: center;
    }

    /* find a partner section */

    #find-partner {
        margin-top: 8rem;
    }

    .partner-text {
        padding: 3rem;
    }

    .partner-text p {
        padding: 1rem 0 1.8rem 0;
    }

    /* perform tasks section */

    #perform-tasks {
        margin-top: 8rem;
    }

    /* change paddings inside #perform-tasks section */

    #perform-tasks h2 {
        padding-bottom: 2.5rem;
    }

    #perform-tasks h3 {
        padding: 0.5rem 0 1.2rem 0;
    }

    /* our customers section */

    #our-customers {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    #our-customers h2 {
        padding-bottom: 3rem;
    }

    #our-customers a {
        color: var(--button-bg);
    }

    /* INSTITUTIONS */

    .square-big {
        width: calc(100% / 3);
        aspect-ratio: 1 / 1;
    }

    .square-small {
        width: calc(100% / 2);
        aspect-ratio: 1 / 1;
    }

    /* companies' logos' background colors */

    #designit {
        background-color: var(--designit-bg);
    }

    #asu {
        background-color: var(--asu-bg);
    }

    #uf {
        background-color: var(--uf-bg);
    }

    #topps {
        background-color: var(--topps-bg);
    }

    #designit-grey {
        background-color: var(--designit-grey);
    }

    #wbr {
        background-color: var(--wbr-bg);
    }

    #hearst {
        background-color: var(--baby-blue);
    }

    #lonely {
        background-color: var(--lonely-bg);
    }

    #ccoutdoor {
        background-color: var(--ccoutdoor-bg);
    }

    /* institutions' logos dimensions */
    #institutions .square-small > img {
        width: 50%;
        /* switch color image to white */
        filter: invert(1); 
    }

    #institutions .square-big > img {
        width: 45%;
        /* padding img logo in central gray .square-big */
        padding: 2rem 0 2rem 2rem;
    }

    /* padding in .square-big (Designit) text section */
    .text-square-big {
        padding: 2rem;
    }

    .text-square-big > p {
        padding-bottom: 2rem;
    }

    /* call to action */

    #cta {
        padding: 6rem 0;
        background-color: var(--baby-blue);
        margin-bottom: 6rem;
    }

    #cta h2 {
        color: var(--asu-bg);
    }

/* FOOTER */

footer {
    background-color: var(--footer-bg);
    color: var(--white);
}

footer .container-big {
    padding: 4rem 0 2rem 0;
}

footer ul li {
    font-size: 0.8rem;
    list-style-type: none;
    padding-bottom: 1rem;
}

footer ul li:first-child {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.white-bottom {
    border-bottom: 1px solis var(--white);
}

